<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Platzi Video</title>
  </head>
  <body>
    <section class="carrousel">
      <h3>Lista</h3>
      <div class="carrousel__container">
        <div class="carrousel-item">
          <img
            class="carrousel-item__img"
            src="https://images8.alphacoders.com/100/1003220.png"
            alt=""
          />
          <div class="carrousel-item__details">
            <div>
              <img src="./play-icon.png" alt="play" />
              <img src="./plus-icon.png" alt="plus" />
            </div>
            <p class="carrousel-item__details--title">Título Descriptivo</p>
            <p class="carrousel-item__details--subtitle">2019 16+ 114 minuto</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
